<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>026b6ecb7f7fe81d207bea7c35d4070e</key>
	<dict>
		<key>personName</key>
		<string>李行亮</string>
	</dict>
	<key>02f9f0bc2fcf90ae77742b190b061d22</key>
	<dict>
		<key>personName</key>
		<string>鞠婧祎</string>
	</dict>
	<key>04027f0af1ae83101bdd007eb022c77a</key>
	<dict>
		<key>personName</key>
		<string>娄艺潇</string>
	</dict>
	<key>0aa644cc6f4e4f086808431857aad928</key>
	<dict>
		<key>personName</key>
		<string>刘德华</string>
	</dict>
	<key>0c11e086eab47caf9f256dbeb987de4d</key>
	<dict>
		<key>personName</key>
		<string>林更新</string>
	</dict>
	<key>0d1f2c74d90c8cd7d87326b11c158d8d</key>
	<dict>
		<key>personName</key>
		<string>尹泽强</string>
	</dict>
	<key>1315471d8c1a238e198c9863c6203d6a</key>
	<dict>
		<key>personName</key>
		<string>李小璐</string>
	</dict>
	<key>2034dc34d0c5023b3895a81831f7c22a</key>
	<dict>
		<key>personName</key>
		<string>黄渤</string>
	</dict>
	<key>23f4b1d9debf802440ed436a3c36aba5</key>
	<dict>
		<key>personName</key>
		<string>白百何</string>
	</dict>
	<key>244b9ac5d000e857f5526282f3dc79ef</key>
	<dict>
		<key>personName</key>
		<string>郑爽</string>
	</dict>
	<key>24dbfc514a6d39afbf23a2691219444c</key>
	<dict>
		<key>personName</key>
		<string>柴碧云</string>
	</dict>
	<key>27fb7ec6f175c1e2e9a58b7e30cf3e96</key>
	<dict>
		<key>personName</key>
		<string>郭德纲</string>
	</dict>
	<key>2c26a21a31e6e902a37c264d2bbc9374</key>
	<dict>
		<key>personName</key>
		<string>杨幂</string>
	</dict>
	<key>2f87f8e047107d77364c096069448adb</key>
	<dict>
		<key>personName</key>
		<string>宋茜</string>
	</dict>
	<key>389cfe5345e675dae82c173a6791dbea</key>
	<dict>
		<key>personName</key>
		<string>陶辰宇</string>
	</dict>
	<key>3e2cb8178f4891f4a12d1cd10871a3ba</key>
	<dict>
		<key>personName</key>
		<string>余枫</string>
	</dict>
	<key>3e9fb25abaec9b1612ce10bb745e6c28</key>
	<dict>
		<key>personName</key>
		<string>杨蓉</string>
	</dict>
	<key>3eb23a9b2f72c667e4d5e04e80cc7cb2</key>
	<dict>
		<key>personName</key>
		<string>孙俪</string>
	</dict>
	<key>3eca3eda4da2dfd10d1f4ada97b6add1</key>
	<dict>
		<key>personName</key>
		<string>舒畅</string>
	</dict>
	<key>469fcb07eb95d3cbea72ac31e56ab8a0</key>
	<dict>
		<key>personName</key>
		<string>迪丽热巴</string>
	</dict>
	<key>47c29e31a9fb2825bcd91be6daa24f4f</key>
	<dict>
		<key>personName</key>
		<string>罗晋</string>
	</dict>
	<key>4b433ca1845c56dfecf9f5331973b07e</key>
	<dict>
		<key>personName</key>
		<string>陈晓</string>
	</dict>
	<key>4c0c05b66991d6344cb22ca63c80eca5</key>
	<dict>
		<key>personName</key>
		<string>高圆圆</string>
	</dict>
	<key>4d59e7ea79be5c29f760b24e25dc4cc2</key>
	<dict>
		<key>personName</key>
		<string>古力娜扎</string>
	</dict>
	<key>4e2273d447e5b928d217b84261ae1fe5</key>
	<dict>
		<key>personName</key>
		<string>梁朝伟</string>
	</dict>
	<key>52ac6e13d9943296f04f3bf1bbf20b23</key>
	<dict>
		<key>personName</key>
		<string>陈伟霆</string>
	</dict>
	<key>5a301e2f684549bf8b1e7d9a09efc5a3</key>
	<dict>
		<key>personName</key>
		<string>林依晨</string>
	</dict>
	<key>61980ef0475a0db2995b3e493af57e54</key>
	<dict>
		<key>personName</key>
		<string>王宝强</string>
	</dict>
	<key>6424d282cd2bf64f9dcf917598f8e5a2</key>
	<dict>
		<key>personName</key>
		<string>范冰冰</string>
	</dict>
	<key>69d534c729581b65b6aae5d613d39770</key>
	<dict>
		<key>personName</key>
		<string>张艺兴</string>
	</dict>
	<key>6b0f9cbb69901053b6d96e3b9301c661</key>
	<dict>
		<key>personName</key>
		<string>林思意</string>
	</dict>
	<key>6b8d4790bbb4199ba374602db53baeea</key>
	<dict>
		<key>personName</key>
		<string>吴倩</string>
	</dict>
	<key>6dcca01a149078b00f6b53118f511bc9</key>
	<dict>
		<key>personName</key>
		<string>王源</string>
	</dict>
	<key>6e7d7afeff9ffe6b63aa79cc69be0fec</key>
	<dict>
		<key>personName</key>
		<string>刘昊然</string>
	</dict>
	<key>6fe00ee5a47f29187ff8f07e1131a8b4</key>
	<dict>
		<key>personName</key>
		<string>马伊琍</string>
	</dict>
	<key>73fac4624324458dde2caf35cbab78ba</key>
	<dict>
		<key>personName</key>
		<string>陈赫</string>
	</dict>
	<key>75d45b118c9840ca4a16825e11edd5a4</key>
	<dict>
		<key>personName</key>
		<string>钟汉良</string>
	</dict>
	<key>77ce5e68e41b11ee2f787f72e1895d2e</key>
	<dict>
		<key>personName</key>
		<string>乔欣</string>
	</dict>
	<key>79ca731a030777dc888b299c2075c2d7</key>
	<dict>
		<key>personName</key>
		<string>黄晓明</string>
	</dict>
	<key>7a79cdcebc8139bcdb80286a3044a11c</key>
	<dict>
		<key>personName</key>
		<string>王祖贤</string>
	</dict>
	<key>8452be11920583ecc84903493a78c9b0</key>
	<dict>
		<key>personName</key>
		<string>周冬雨</string>
	</dict>
	<key>8b2a78f39fcb4e246bcbdaca0a1014e4</key>
	<dict>
		<key>personName</key>
		<string>欧豪</string>
	</dict>
	<key>8f2aebef7cae01c7a5122c7a106c47d8</key>
	<dict>
		<key>personName</key>
		<string>古天乐</string>
	</dict>
	<key>99fb9bee5f1b7aaf359dcaf4ebc7bf06</key>
	<dict>
		<key>personName</key>
		<string>张一山</string>
	</dict>
	<key>a14d7aa8536042d9625da6efa0b4a893</key>
	<dict>
		<key>personName</key>
		<string>贾乃亮</string>
	</dict>
	<key>a184d9cbed4a89a438ffd6c58c706b8a</key>
	<dict>
		<key>personName</key>
		<string>杨烁</string>
	</dict>
	<key>a3e5b8796c2e57aeae1ffcee0a5184dd</key>
	<dict>
		<key>personName</key>
		<string>Angelababy</string>
	</dict>
	<key>a49bb7d530b24ae01faafe1b8b05867b</key>
	<dict>
		<key>personName</key>
		<string>邓超</string>
	</dict>
	<key>abaf4ab52d70d4586d55cb7b70152fbc</key>
	<dict>
		<key>personName</key>
		<string>刘诗诗</string>
	</dict>
	<key>abf9b6cd75d72935ed351887feed3264</key>
	<dict>
		<key>personName</key>
		<string>陈都灵</string>
	</dict>
	<key>b31c2cdd1d6c3838ef6291900f5545b1</key>
	<dict>
		<key>personName</key>
		<string>向华强</string>
	</dict>
	<key>ba240f89a42fe545a38be2b2d846f7fd</key>
	<dict>
		<key>personName</key>
		<string>唐嫣</string>
	</dict>
	<key>bb812531cec739362858cfe0a9c1b0c9</key>
	<dict>
		<key>personName</key>
		<string>乔振宇</string>
	</dict>
	<key>bc80304588009f236f3950f606a27a00</key>
	<dict>
		<key>personName</key>
		<string>吴奇隆</string>
	</dict>
	<key>c0e890a6eec8d6476641d88e9e7fc6a9</key>
	<dict>
		<key>personName</key>
		<string>景甜</string>
	</dict>
	<key>c133877cdf214898a48c2a8891cf654e</key>
	<dict>
		<key>personName</key>
		<string>李沁</string>
	</dict>
	<key>c32f71006b9377ef572b2f5c5e076901</key>
	<dict>
		<key>personName</key>
		<string>易烊千玺</string>
	</dict>
	<key>d357d81bc81e14ed964ae836fa58c32d</key>
	<dict>
		<key>personName</key>
		<string>冯绍峰</string>
	</dict>
	<key>d5c34e97731a0705fabbb7e915b448c2</key>
	<dict>
		<key>personName</key>
		<string>鹿晗</string>
	</dict>
	<key>dab58d77cf2178c64d5c5ab4d088bb41</key>
	<dict>
		<key>personName</key>
		<string>孙艺洲</string>
	</dict>
	<key>daed0d7cf151a4d134938c64bdd68bf3</key>
	<dict>
		<key>personName</key>
		<string>阚清子</string>
	</dict>
	<key>dc53a11ce9a450e68aad80e854184403</key>
	<dict>
		<key>personName</key>
		<string>王丽坤</string>
	</dict>
	<key>ddeaf61cd44adebfa769239fa05ddc49</key>
	<dict>
		<key>personName</key>
		<string>张嘉译</string>
	</dict>
	<key>defd7b8c32383601289cbe0aa571e1db</key>
	<dict>
		<key>personName</key>
		<string>周润发</string>
	</dict>
	<key>df521c660db1bdd10d52ea901a0aa6e7</key>
	<dict>
		<key>personName</key>
		<string>陈乔恩</string>
	</dict>
	<key>e40fd308561d78b9820bf495948b8d4a</key>
	<dict>
		<key>personName</key>
		<string>李晨</string>
	</dict>
	<key>e6394914bdfbd9fb1e66315d0c67b7d9</key>
	<dict>
		<key>personName</key>
		<string>关晓彤</string>
	</dict>
	<key>ee70e92d995297cdcb0a586ec1d13ef2</key>
	<dict>
		<key>personName</key>
		<string>胡歌</string>
	</dict>
	<key>ef5739c60d673c98d2493aa46ce9bab3</key>
	<dict>
		<key>personName</key>
		<string>文章</string>
	</dict>
	<key>f35e53db24558afc2e6c7c699a2b97e0</key>
	<dict>
		<key>personName</key>
		<string>刘涛</string>
	</dict>
	<key>f9e568147655748ecc2c4d731e4ccb10</key>
	<dict>
		<key>personName</key>
		<string>张馨予</string>
	</dict>
	<key>fdcbdc428f7c36d66605f25e5bae462b</key>
	<dict>
		<key>personName</key>
		<string>周星驰</string>
	</dict>
</dict>
</plist>
