<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>starts</key>
	<array>
		<string>陈赫</string>
		<string>陈伟霆</string>
		<string>邓超</string>
		<string>迪丽热巴</string>
		<string>范冰冰</string>
		<string>高圆圆</string>
		<string>古力娜扎</string>
		<string>关晓彤</string>
		<string>胡歌</string>
		<string>黄晓明</string>
		<string>景甜</string>
		<string>李晨</string>
		<string>李沁</string>
		<string>林更新</string>
		<string>林依晨</string>
		<string>刘德华</string>
		<string>刘诗诗</string>
		<string>刘涛</string>
		<string>鹿晗</string>
		<string>乔振宇</string>
		<string>宋茜</string>
		<string>唐嫣</string>
		<string>陶辰宇</string>
		<string>吴奇隆</string>
		<string>杨幂</string>
		<string>易烊千玺</string>
		<string>尹泽强</string>
		<string>张艺兴</string>
		<string>郑爽</string>
		<string>钟汉良</string>
		<string>周星驰</string>
		<string>Angelababy</string>
		<string>陈乔恩</string>
		<string>贾乃亮</string>
		<string>张嘉译</string>
		<string>吴倩</string>
		<string>文章</string>
		<string>周冬雨</string>
		<string>阚清子</string>
		<string>王祖贤</string>
		<string>李小璐</string>
		<string>陈晓</string>
		<string>李行亮</string>
		<string>向华强</string>
		<string>余枫</string>
		<string>周润发</string>
		<string>张一山</string>
		<string>王源</string>
		<string>孙艺洲</string>
		<string>古天乐</string>
		<string>孙俪</string>
		<string>柴碧云</string>
		<string>马伊琍</string>
		<string>舒畅</string>
		<string>王丽坤</string>
		<string>乔欣</string>
		<string>王宝强</string>
		<string>陈都灵</string>
		<string>白百何</string>
		<string>鞠婧祎</string>
		<string>杨烁</string>
		<string>冯绍峰</string>
		<string>黄渤</string>
		<string>张馨予</string>
		<string>罗晋</string>
		<string>刘昊然</string>
		<string>娄艺潇</string>
		<string>杨蓉</string>
		<string>梁朝伟</string>
		<string>欧豪</string>
		<string>林思意</string>
		<string>郭德纲</string>
	</array>
</dict>
</plist>
